main {
    border-radius: 4px;
    margin: 10px;
    display: flex;
    gap: 40px;

}

.box-1,
.box-2,
.left-container {
    box-shadow: 2px 2px 4px #a5a5a5;
}

* {
    color: #757575;
}

.fas {
    margin-right: 15px;
}

hr {
    opacity: 40%;
}

.primary-heading,
.main-heading {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


/* Left Container (Image cont) */
.left-container {
    width: 36.6666%;
    height: 100%;
}

.img-container {
    width: 100%;
    height: 300px;
}

.img-container>.name {
    padding: 15px;
    bottom: 75px;
    position: relative;
    font-size: 20px;
    color: #000;
    text-shadow: 0 0 12px gold;
}

/* -------------------- */


/* personal-info-container styling */

.fas {
    color: #009688;
}

.bottom-img-container {
    padding: 15px;
}

.text {
    margin: 0;
}

.bottom-img-container .link-box,
.text-box {
    padding: 4px;
    display: flex;
    align-items: flex-end;

}

.bottom-img-container .text,
.bottom-img-container .link {
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-img-container .link {
    text-decoration: none;
    transition: .3s;
}

.bottom-img-container .link:hover {
    color: #000;
    transform: scaleX(1.1);
}

/* ------------------- */

/* skills-container styling */
.skill-in-percent-con {
    background-color: gainsboro;
    border-radius: 16px;
    width: 100%;
}

.skill-in-percent-con>div {
    background-color: #009688;
    width: 90%;
    text-align: center;
    color: #fff;
    border-radius: 16px;
}


/* Right-container styling */

/* Box-1 */
.box-1 {
    padding: 15px;
}

.current {
    background-color: #009688;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Box-2 */

.box-2 {
    margin-top: 15px;
    padding: 15px;
}

.inter-heading {
    margin: 0;
    font-weight: bold;
}


/* Footer styling */
footer {
    color: #fff;
    background-color: #009688;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>p {
    color: #fff;
}

.social-links-container a {
    margin-right: 10px;
}

.link-icon {
    color: #fff;
    transition: .4s;
}

.link-icon:hover {
    color: #000;
}

.year {
    font-size: 10px;
    color: #fff;
}

@media (max-width:650px) {
    main {
        display: block;
    }

    .left-container {
        width: 100%;
    }

}