* {
    margin: 0
}

body {
    background-color: rgb(252, 123, 94);
}

/* Header */
header h1,
.loader-heading {
    text-align: center;
    color: rgb(209, 56, 21);
    text-shadow: 0 0 2px gold;
    font-family: sans-serif;
}

/* Car Image Container */
section.img-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-box {
    width: 338px;
    height: 120px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/193/929/small/vintage-car.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition-property: position;
    position: relative;
    left: 0;
}

div.border {
    width: vw;
    border-bottom: 2px solid #000;
}

/* Footer */
footer {
    background-color: rgb(209, 56, 21);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    color: darkorange;
}

/* Progress-Bar */
.loader-heading {
    font-size: 22px;
    font-weight: 700;
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 200px;
    border: 2px solid #bf2b02;
    height: 25px;
    background-color: #efefef;
    border-radius: 12px;
    margin: 0 0 0 10px;
}

.loader {
    border-radius: 12px;
    width: 0;
    height: 100%;
    background-color: rgb(209, 56, 21);
    transition: 5s;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 67px 0 0 0;
    gap: 20px;
}
/* Btn container */
.btn-container button {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .7);
    font-size: 17px;
    background: rgb(209, 56, 21);
    color: #fff;
    cursor: pointer;
    transition: .6s;
}

button:hover {
    background-color: rgb(134, 25, 1);
    box-shadow: none;
}